* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;

	text-decoration: none;

	scroll-behavior: smooth;
}

:root {
	--onyx: #393E41;
	--onyx-alpha: rgba(57, 62, 65, 0.2);
	--glaucous: #758ECD;
	--platinum: #eaebed;
	--platinum-alpha: rgba(234, 235, 237, 0.5);
}

body {
	background-color: var(--platinum);
}

.container {
	width: 800px;
	height: 100%;
}