#header {
	width: 100%;
	height: 80px;

	border-bottom: 2px dashed var(--onyx-alpha);

	position: sticky;
	top: 0;

	z-index: 3;

	background-color: var(--platinum-alpha);

	transition: background-color 500ms;
}

#header:hover {
	background-color: var(--platinum);
}

#header > .container, 
#header,
#list-navBar
{
	display: flex;
	align-items: center;
}

#header > .container, #header {
	justify-content: center;
}

#navBar,
#list-navBar
{
	width: 100%;
}

#list-navBar {
	justify-content: space-between;
}

#list-navBar > .item {
	list-style-type: none;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.item > .link {
	color: var(--onyx);

	font-size: 1.2rem;
	font-weight: bold;

	text-align: center;
	
	padding: 5px;
}

.line {
	transition: all 500ms;
}

@media screen and (max-width: 895px) {
	#list-navBar {
		justify-content: space-around;
	}
}