#info-developer {
	padding: 64px 0;
}

.section > .container,
.section
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.section > .container {
	flex-direction: column;
}

#image-developer > img {
	width: 372px;
	height: 372px;

	border-radius: 100%;

	animation-name: image-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;

	position: relative;
}

@keyframes image-animation {
	0% {
		top: 0;
	}

	50% {
		top: 10px;
	}

	100% {
		top: 0;
	}
}

#name {
	font-size: 3rem;
	font-weight: bold;
	margin-top: 48px;
	margin-bottom: 32px;
}

#description {
	width: 600px;

	font-size: 1.5rem;

	text-align: center;
}

#name,
#description
{
	color: var(--onyx);
}

.padding-section {
	padding-top: 32px;
	padding-bottom: 58px;

}

#projects-developer {
	background-color: var(--onyx);
}

.title {
	margin-bottom: 32px;
}

.light-text {
	color: var(--platinum);
}

.dark-text {
	color: var(--onyx);
}

#projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	gap: 20px;
}

.project-image {
	width: 426px;
	height: 225px;

	object-fit: cover;

	transition: transform 500ms;
}

.project-image:hover {
	transform: scale(1.2);

	z-index: 2;
}

#stacks {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;

	gap: 42px;
}

.stack-image {
	width: 100px;
}